@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styling */
body {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove default margin */
    height: 100vh; /* Full viewport height */
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Container for forms and messages */
.login-container, .register-container{
    max-width: 48%; /* Adjust the percentage as needed */
    width: 100%; /* Ensure it takes full width up to the max-width */
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Headings */
h1, h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Form group styling */
.form-group, .form-group input, .form-group label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

input[type="text"], input[type="password"], input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Button styling */
button[type="submit"], input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button[type="submit"]:hover, input[type="submit"]:hover {
    background-color: #0056b3;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Error message styling */
.error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Link styling */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Container styling */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.button-secondary {
    background-color: #6c757d;
}

.button-secondary:hover {
    background-color: #5a6268;
}

.custom-cursor {
    cursor: pointer;
}

.custom-cursor:hover {
    cursor: Pointer;
}

#logoutAlert {
    position: absolute;
    top: 20px; /* ปรับตำแหน่งตามต้องการ */
    right: 20px; /* ปรับตำแหน่งตามต้องการ */
    z-index: 1050; /* ให้แน่ใจว่าตั้งอยู่เหนือเนื้อหาอื่น */
}

