<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/stylehome.css">
    <script src="/js/stylehome.js"></script>
</head>
<body>
<div class="register-container">
    <h2>สมัครสมาชิก</h2>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <div class="form-row-regis">
            <!-- Group 1: ชื่อ, นามสกุล -->
            <div class="form-group-regis">
                <label>ชื่อ</label>
                <input type="text" th:field="*{firstName}" placeholder="กรอกชื่อ" required maxlength="60" />
            </div>
            <div class="divider-regis"></div> <!-- Divider between columns -->
            <div class="form-group-regis">
                <label>นามสกุล</label>
                <input type="text" th:field="*{lastName}" placeholder="กรอกนามสกุล" required maxlength="60" />
            </div>
        </div>

        <div class="form-row-regis">
            <!-- Group 2: อีเมล, เบอร์โทร -->
            <div class="form-group-regis">
                <label>อีเมล</label>
                <input type="email" th:field="*{email}" placeholder="กรุณากรอกอีเมล (Email) ของคุณ" required maxlength="60"/>
            </div>
            <div class="divider-regis"></div> <!-- Divider between columns -->
            <div class="form-group-regis">
                <label>เบอร์โทรติดต่อ</label>
                <input type="text" th:field="*{phoneNumber}" required maxlength="12" placeholder="กรุณากรอกเบอร์โทรศัพท์ของคุณ" oninput="formatPhone(this)" />
            </div>
        </div>

        <div class="form-row-regis">
            <!-- Group 3: Username, password -->
            <div class="form-group-regis">
                <label>ชื่อผู้ใช้ / Username</label>
                <input type="text" th:field="*{username}" required minlength="5" placeholder="กรุณากรอกชื่อผู้ใช้ (Username) ของคุณ" oninput="validateUsername(this)" maxlength="15"/>
            </div>
            <div class="divider-regis"></div> <!-- Divider between columns -->
            <div class="form-group-regis">
                <label>รหัสผ่าน / Password</label>
                <input type="password" th:field="*{password}" id="password" required
                       placeholder="กรุณากรอกรหัสผ่าน (Password) ของท่าน"
                       pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}"
                       title="รหัสผ่านต้องมีตัวอักษรภาษาอังกฤษพิมพ์ใหญ่ 1 ตัว, อักขระพิเศษ 1 ตัว, ตัวเลข, และต้องมีความยาว 8 ตัวขึ้นไป ยกตัวอย่าง Abcde@12" maxlength="20" />
            </div>
        </div>
        <div class="privicy-regis">
            <p>ข้อมูลส่วนบุคคลของคุณจะถูกนำไปใช้เพื่อจัดการการเข้าถึงบัญชีของคุณและวัตถุประสงค์อื่นๆที่อธิบายไว้ใน <a th:onclick="openPrivacyPolicy()" class="custom-cursor">นโยบายความเป็นส่วนตัว</a></p>
        </div>
        <div class="form-group-regis">
            <button type="submit">สมัครสมาชิก</button>
        </div>

        <p th:if="${error}" class="error-message" th:text="${error}"></p>
        <p>มีบัญชีแล้วใช่หรือไม่?
            <a th:href="@{/officer}">กดเข้าสู่ระบบที่นี่</a>
        </p>
    </form>



    <!--hidden javascript -->
    <div id="clock" hidden></div>
    <button id="myButton" hidden>Click Me!</button>
    <div id="logoutAlert" class="d-none" hidden>
        <button id="logoutButton" hidden>Logout</button>
        <button id="confirmButton" hidden>Yes</button>
        <button id="cancelButton" hidden>Cancel</button>
    </div>
    <!--hidden javascript -->

</div>
</body>
</html>
